@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <h2>to the Quiz manager</h2>
    <p>
      This database-driven website enables the creation and management of quizzes
      consisting of multiple-choice questions.
    </p>

  <h4>Please log in using the login button to access the site.</h4>
</div>
